<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lunlun.fenhow1219"
    android:versionCode="1"
    android:versionName="2021.01.03">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FenHow1219.NoActionBar">

        <activity
            android:name=".AppMenuActivity"
            android:label="所有功能" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SystemManagementActivity"
            android:label="系統管理後台"/>
        <activity
            android:name=".AppPermissionActivity"
            android:label="請求權限" />
        <activity
            android:name=".Login"
            android:label="登入"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/Theme.FenHow1219.NoActionBar">
        </activity>
        <activity
            android:name=".SignUp"
            android:label="註冊">
        </activity>
        <activity
            android:name=".SignWorkActivity"
            android:label="出缺勤系統"
            android:targetActivity=".activity.SignWorkActivity" />
        <activity
            android:name=".ChangePwdActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity="" />
        <activity
            android:name=".MeetingActivity"
            android:label="會議" />
    </application>

</manifest>